
<!DOCTYPE html>
<html lang="en">
  <head>
{% comment %}    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">{% endcomment %}

    <title>Login</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/css/login.css" rel="stylesheet">
    <script>
      function forgotPwd() {
          var username = document.getElementById("inputEmail").value;
          if(username == ""){
              alert("Enter your Email id first..");
          }
          else {
              alert("A mail containing the password associated with the account has been sent at "+username);
              {% comment %}TODO : Retrieve pwd for the username and sent it on the email id{% endcomment %}
          }
      }

      function validate() {
          {% comment %}TODO :Write code to validate credentials{% endcomment %}
      }
    </script>
    <style type="text/css">
        .forgot-pwd:hover{
            color : red;
        }

    </style>
  </head>

  <body>

    <div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">Please Login</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
          <label  class="forgot-pwd" onclick="forgotPwd()">
            Forgot Password
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="validate()">Sign in</button>
          <label style="margin-top: 20px;">
            New here...Register first
          </label>
        <a class="btn btn-lg btn-primary btn-block" href="/base/register">Register</a>
      </form>

    </div> <!-- /container -->
  </body>
</html>
