<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
<link href="../../static/css/bootstrap.css" rel="stylesheet">
<link href="../../static/css/bootstrap-responsive.css" rel="stylesheet">
<link href="../../static/css/login.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <form class="form-horizontal form-signin" action = "" method="post">
            <fieldset>
                <legend>Registration Form</legend>
                <div class="control-group">
                    <label class="control-label">First Name:</label>
                    <div class="controls">
                        <input type="text" id="firstName" name="first_name" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Last Name:</label>
                    <div class="controls">
                        <input type="text" id="lastName" name="last_name">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Email</label>
                    <div class="controls">
                        <input type="EMAIL" id="email" name="email" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Password:</label>
                    <div class="controls">
                        <input type="password" id="password" name="password" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">D.O.B:</label>
                    <div class="controls">
                        <input type="text" id="dob" name="dob" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Gender:</label>
                    <div class="controls">
                        <input type="radio" id="gender" name="gender" value="male" required><span style="padding: 10px;">Male</span>
                        <input type="radio" id="gender" name="gender" value="female" required><span style="padding: 10px;">Female</span>
                    </div>
                </div>
                {% if error %}
                <span style="color: red;font-size: larger">{{ message }}</span>
                {% endif %}
                <div class="control-group">
                    <label class="control-label"></label>
                    <div class="controls">
                        <button type="submit" class="btn btn-success">Submit</button>
                        <a href="/base/login" class="btn btn-success" >Login</a>
                    </div>

                </div>
            </fieldset>
        </form>
    </div>
</body>
</html>